{% extends 'layout.html'%}
{% block content %}
<h1 class="full-margin">Trending</h1>
<div class="full-margin" id="display-boxes">
    <div class="trend-left">
        {% for i in range(10)%}
        <div style="margin-bottom: 20px;">
        <h3>{{tesla["articles"][i].title}}</h3>
        <br>
        <img src={{tesla["articles"][i].urlToImage}} class="card-img-top" alt="...">
        <p>{{tesla["articles"][i].content}}</p>
        <a href={{tesla['articles'][i].url}}><button type="button" class="btn btn-primary">Read article</button></a>
        </div>
        {% endfor %}
    </div>
    <div class="trend-right">
        <div class="row">
            <div class="col">
                {% for i in range(15) %}
                <a href={{wallstreet["articles"][i].url}} style="margin-bottom: 20px;">
                    <div class="card" style="margin-bottom: 10px;">
                        <img src={{wallstreet["articles"][i].urlToImage}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{wallstreet["articles"][i].title}}</h5>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}